body {
    /* width: 600px; */
    /* height: 500px; */
    background-color: rgba(91, 151, 91, 0.75);
    color: rgb(49, 37, 11);
    font-family: 'Oxygen';
}

.findQuotesWrapper {
    /* background-color: rgba(138, 0, 138, 0.329); */
    margin: auto;
    text-align: center;
}

#displayTable {
    /* background-color: rgba(91, 151, 91, .75); */
}

button {
    border: 0px;
    background-color: lightgrey !important;
}

th, td {
    padding: 5px;
    align-content: center;
    text-align: center;
    border: 1px solid rgb(32, 24, 7) !important;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    color: rgb(32, 24, 7);
}

tr {
    border: 1px solid rgb(44, 29, 0);
}

tr:nth-child(odd) {
    background-color: rgba(91, 151, 91, 0.5);
}


tr button {
    visibility: hidden;
}

tr:hover {
    background-color: rgb(48, 131, 0);
}

tr:hover button {
    visibility: visible;
    font-size: large;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

tr:hover button:active {
    visibility: visible;
    background-color: grey !important;
}

/* .table-bordered th, .table-bordered td {
    border: 1px solid rgb(32, 24, 7);
} */

.clear {
    display: none !important;
}

a {
    color: rgb(26, 18, 3);
}

#loading {
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

#spruceLogo {
    margin-top: 6px;
}

.help {
    position: absolute;
    right: 10px;
    top: 10px;
}

.help:focus {
    outline: none;

}

.link {
    color : blue;
}

#noResults {
    text-align: center;
    padding: 15px;
}

.sources {
    /* aligns table columns */
    width: 25%;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -o-user-select: none;
    user-select: none;
    user-drag: none;
}