body {
    /* width: 600px; */
    /* height: 500px; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    background-color:rgb(117, 170, 86);
    color: rgb(49, 37, 11);
    font-family: "Oxygen";
    line-height: 1.4;
    font-size: 16px;
    background-image: url("./more-leaves.png");
    background-repeat: repeat;
}

.container-fluid {
    padding: 10px;
    background-color: rgb(117, 170, 86);
    height: 100%;
}

h1 {
    font-family: "Righteous";
}

.findQuotesWrapper {
    /* background-color: rgba(138, 0, 138, 0.329); */
    margin: auto;
    text-align: center;
}

#helpInfo hr {
    background-color: rgb(49, 37, 11);
    margin-bottom: 15px;
    /* padding-bottom: 5px; */
}

button {
    border: 0px;
    background-color: lightgrey !important;
}

th, td {
    padding: 5px;
    align-content: center;
    text-align: center;
    border: 1px solid rgb(32, 24, 7) !important;
}

table {
    margin-top: 2px;
    border-collapse: collapse;
    color: rgb(32, 24, 7);
}

tr {
    border: 1px solid rgb(44, 29, 0);
}

tbody tr:nth-child(odd) {
    background-color: rgba(91, 151, 91, 0.5);
}


tr button {
    visibility: hidden;
}

tbody tr:hover {
    background-color: rgb(48, 131, 0) !important;
}

tr:hover button {
    margin-bottom: 5px;
    margin-top: 5px;
    visibility: visible;
    /* font-size: large; */
    /* padding: 5px;
    padding-left: 5px;
    padding-right: 5px; */
    border-radius: 5px;
}

tr:hover button:active {
    visibility: visible;
    background-color: grey !important;
}

/* .table-bordered th, .table-bordered td {
    border: 1px solid rgb(32, 24, 7);
} */

.clear {
    display: none !important;
}

table a {
    color: rgb(26, 18, 3);
    text-decoration: underline;
}

#loading {
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

#spruceLogo {
    margin-top: 6px;
}

.help {
    position: absolute;
    right: 10px;
    top: 10px;
}

.help:focus {
    outline: none;

}

.link {
    color : blue;
}

#noResults {
    text-align: center;
    padding: 15px;
}

#noInput {
    text-align: center;
    padding: 15px;
}

.sources {
    /* aligns table columns */
    width: 25%;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -o-user-select: none;
    user-select: none;
    user-drag: none;
}

.sort-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;

}

#helpInfo img {
    border: 1px solid rgb(32, 24, 7);
}

form {
    display: flex;
    justify-content: space-around;
}

#sortForm {
    display: flex;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#sortForm label {
    border: 1px solid rgb(32, 24, 7);
}

#sticky-footer {
    /* background-color: rgb(25, 59, 25); */
    margin-top: 15px;
    margin-bottom: 5px;
}

#sticky-footer a {
    color: rgb(121, 92, 38);
    text-decoration: underline;
}

#sticky-footer small {
    display: flex;
    justify-content: space-around;
}

.saved-buttons-wrapper {
    margin-bottom: 5px;
    position: absolute;
}

.saved-buttons-wrapper button {
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.saved-buttons-wrapper button:focus {
    outline: none;
}