@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Oxygen-Regular.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Righteous-Regular.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    /* width: 600px; */
    /* height: 500px; */
    /* margin-top: 20px; 
    margin-bottom: 20px; */
    margin-left: 15px;
    margin-right: 15px;
    background: rgb(218, 252, 218);
    color: rgb(49, 37, 11);
    font-family: "Oxygen";
    line-height: 1.4;
    font-size: 16px;
    background-image: url("./more-leaves.png");
    background-repeat: repeat;
}

.container-fluid {
    padding: 10px;
    background: rgb(218, 252, 218);
    height: 100%;
    border-radius: 5px;
}

h1 {
    font-family: "Righteous";
}

.findQuotesWrapper {
    /* background-color: rgba(138, 0, 138, 0.329); */
    margin: auto;
    text-align: center;
}

#helpInfo hr {
    background-color: rgb(49, 37, 11);
    margin-bottom: 15px;
    /* padding-bottom: 5px; */
}

button {
    border: 0px;
    background-color: lightgrey !important;
}

th, td {
    padding: 5px;
    align-content: center;
    text-align: center;
    border: 1px solid rgb(32, 24, 7) !important;
}

table {
    margin-top: 2px;
    border-collapse: collapse;
    color: rgb(32, 24, 7);
}

tr {
    border: 1px solid rgb(44, 29, 0);
}

tbody tr:nth-child(odd) {
    background-color: rgb(198, 232, 208);
}


tr button {
    visibility: hidden;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: large;
}

tbody tr:hover {
    background-color: rgb(141, 201, 141) !important;
}

tr:hover button {
    /* margin-bottom: 5px;
    margin-top: 5px; */
    visibility: visible;
    /* font-size: large; */
    /* padding: 5px;
    padding-left: 5px;
    padding-right: 5px; */
    border-radius: 5px;
}

tr:hover button:active {
    visibility: visible;
    background-color: grey !important;
}

/* .table-bordered th, .table-bordered td {
    border: 1px solid rgb(32, 24, 7);
} */

.clear {
    display: none !important;
}

table a {
    color: rgb(26, 18, 3);
    text-decoration: underline;
}

#loading {
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

#spruceLogo {
    margin-top: 6px;
}

.help {
    position: absolute;
    right: 20px;
    top: 25px;
}

.help:focus {
    outline: none;

}

.link {
    color : blue;
}

#noResults {
    text-align: center;
    padding: 15px;
}

#noInput {
    text-align: center;
    padding: 15px;
}

.sourceColumn {
   font-style: italic;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -o-user-select: none;
    user-select: none;
    user-drag: none;
}

.sort-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;

}

#helpInfo img {
    border: 1px solid rgb(32, 24, 7);
}

form {
    display: flex;
    justify-content: space-around;
}

#sortForm {
    display: flex;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#sortForm label {
    border: 1px solid rgb(32, 24, 7);
}

#sticky-footer {
    /* background-color: rgb(25, 59, 25); */
    margin-top: 15px;
    margin-bottom: 5px;
}

#sticky-footer a {
    color: rgb(121, 92, 38);
    text-decoration: underline;
}

#sticky-footer small {
    display: flex;
    justify-content: space-around;
}

.saved-buttons-wrapper {
    margin-bottom: 5px;
    position: absolute;
}

.saved-buttons-wrapper button {
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.saved-buttons-wrapper button:focus {
    outline: none;
}